.head{
    padding-top: 3px;
    color:indianred;
    text-align: center;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }
  
  .file {
    margin-left: -12.5%;
    margin-top: 4px;
    display: flex;
    margin-bottom: 20px;
    display:inline-block;
    padding: 10px;
    padding-left: 3%;
    background-color:white;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1)
  }

  .fileaddbtn{
    margin-left: -15%;
    border:1px rgb(237, 230, 230) solid;
    padding: 2px 7px 2px 7px;
    text-align: center;

  }
  .fileaddbtn:hover{
    /* background-color:rgb(221, 215, 215); */
    color:rgb(148, 126, 126);
  }
  td button {
    display: block;
    margin: 0 auto;
  }
  
  @media (max-width: 400px) {
    td button {
      display: inline-block;
      margin: 0 5px;
    }
  }


#newform{
  margin-left:30px;
   padding:1%;
    width:30%;
    float:left;
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius:3px
}
#searchform{
  margin-left:50px;
  width:30%;
  float:right;
   padding:1%;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    margin-right:20px;
    border-radius:3px  
  }

  






  .more-details {
    background: #f4f4f4;
    width: 50%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 30px;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 700px) {
    .more-details {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .more-details {
      width: 95%;
    }
  }
  @media (min-width: 768px) {
    .deledit {
      width: 50%;
    }
  }
  
  
  .more-details span {
    position: relative;
    margin: 5px 10px;
    display: inline-block;
  }
  
  .more-details button {
    padding: 10px 15px;
    color: #fff;
    border-radius: 10px;
    margin: 5px 10px;
  }
  
  .more-details .close-button {
    width: 100%;
    text-align: right;
  }
  
  .fa-circle-xmark {
    color: #ff0000;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
  }
  
  .modal-badge {
    color: #fff;
    padding: 1px 3px;
    margin-left: 5px;
    border-radius: 3px;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    background: #00000039;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
  }